---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Contact from "@/components/sections/Contact.astro";
---

<BaseLayout title="CarboxyDev">
  <main class="mx-auto flex max-w-3xl flex-col px-6 py-16 lg:py-24">
    <section class="animate-fade-in min-h-[70vh] flex items-center">
      <Hero />
    </section>

    <About />

    <Projects />

    <Skills />

    <Contact />
  </main>
</BaseLayout>
